/* header -> navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: transparent;
  letter-spacing: 2px;
  position: relative;
}
.nav__list {
  /* border: solid; */
  display: flex;
  width: 65%;
  justify-content: space-between;
}
.nav__title {
  font-size: var(--h-fontSize);
  color: var(--color-primary);
}
.nav__list ul {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.nav__btn {
  background: linear-gradient(
    to top right,
    var(--color-purple),
    var(--color-pink),
    var(--color-yellow)
  );
  color: var(--color-primary);
  text-transform: uppercase;
  /* margin-right: -140px; */
}
.nav__list li a {
  color: var(--color-primary);
  font-size: var(--d-fontSize);
  margin: 0 1rem;
}
.nav__bars,
.nav__times {
  display: none;
}
/* main content */
main {
  font-family: sans-serif;
  margin-top: 10rem;
}
.main__header {
  text-align: center;
  color: var(--color-primary);
}
.main__title {
  font-size: calc(var(--h-fontSize) + 1rem);
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 2px;
}

.main__paragraph {
  line-height: 1.2;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: var(--color-secondary);
  display: inline-block;
  max-width: 50%;
  text-transform: capitalize;
  font-size: calc(var(--d-fontSize) + 0.5rem);
}
/* action container */
.action__container {
  margin: 10rem auto 0;
  width: 60%;
  display: inline-block;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  grid-column-gap: 20rem;
  grid-row-gap: 1rem;
  /* border: solid white; */
}

.action__container .login-form {
  display: flex;
  flex-direction: column;
  grid-gap: 7px;
  flex: 1 1 20rem;
}
.login-form button {
  font-weight: 900;
  background: linear-gradient(
    to top right,
    var(--color-purple),
    var(--color-pink),
    var(--color-yellow)
  );
  color: var(--color-primary);
  text-transform: uppercase;
}
.input {
  padding: 1.5rem 2rem;
  color: var(--color-primary);
  border-radius: var(--b-radius);
  background-color: var(--color-secondary-2);
  box-shadow: 1px 2px 3px black;
}
.input:focus {
  outline: none;
}
.btn__container {
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
  grid-gap: 7px;
  flex-shrink: 8;
  width: 100%;

  text-align: center;
}

.signin__btn {
  background-color: transparent;
  padding: 1rem 1.5rem;
  border: 0.4rem solid;
  border-image: linear-gradient(
      to top right,
      var(--color-purple),
      var(--color-pink),
      var(--color-yellow)
    )
    1;

  color: var(--color-primary);
  font-size: 1.5rem;
}
.signin__btn i {
  margin-right: 1rem;
}
/* .forgot-password */
.forgot-password {
  text-align: center;
  color: var(--color-primary);
  font-size: 1.2rem;
  margin-top: 50px;
  cursor: pointer;
  text-decoration: underline;
}
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  color: var(--color-primary);
  margin-top: 10px;
  font-size: var(--d-fontSize);
  margin-bottom: 10px;
}
footer p {
  cursor: pointer;
}

.res-signin {
  color: var(--color-primary);
  font-size: 2rem;
  display: none;
}
.signin__btn p {
  display: inline-block;
}

@media screen and (max-width: 1135px) {
  html {
    font-size: 54.2%;
  }
  footer {
    margin-top: 50px;
  }
}
/* @media screen and (max-width) {
  
} */
@media screen and (max-width: 1040px) {
  .signin__btn {
    padding: 10px 1px;
  }
  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--color-secondary-2);
  }
  /* .nav__list::after {
    content: "";
    background-color: transparent;
    width: 9%;
    height: 20px;
    position: absolute;
    right: 1.6px;
    top: -9.9px;
    transform: rotate(39deg);
    border-left: white solid 1px;
    border-top: white solid 1px;
  } */
  .nav__list {
    display: none;
  }
  .active {
    display: flex;

    position: absolute;
    top: 60px;
    right: 10px;
    flex-direction: column;
    border: solid var(--color-secondary) 1px;
    background-color: var(--bg-color);
    width: 300px;
    box-shadow: 1px 2px 3px 1px black, 1px 1px 2px 1px var(--color-secondary);
  }
  .active ul {
    flex-direction: column;

    width: 100%;
  }
  .active ul li {
    width: 100%;
    padding: 20px 30px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .active ul li:hover {
    background-color: var(--color-secondary-2);
    padding: 20px 45px;
  }
  .nav__btn {
    font-size: 2rem;
    width: 100%;
    padding: 15px 40px;
  }

  .nav__center {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .nav__bars,
  .nav__times {
    display: block;
    font-size: 5rem;
    color: white;
    cursor: pointer;
  }
}
@media screen and (max-width: 940px) {
  .action__container {
    flex-wrap: wrap;
    grid-row-gap: 3rem;
  }
  .action__container {
    margin-top: 40px;
  }
  footer {
    margin-top: 100px;
  }
  .signin__btn i {
    margin-right: 0.3rem;
  }
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 635px) {
  html {
    font-size: 50.2%;
  }

  .input {
    height: 60px;
    font-size: 20px;
  }
  .login-form button {
    height: 50px;
    font-weight: 900;
  }
  .signin__btn {
    text-align: center;

    display: inline-block;
    flex: 1 1 10px;
  }
  .res-signin {
    display: inline-block;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--color-primary);
  }
  .signin__btn p {
    display: none;
  }
  .btn__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .action__container {
    margin: 10rem auto 0;
    width: 90%;
  }

  /* .active{
    display: flex;
  } */
}
